.body{
    background: linear-gradient(rgb(249, 254, 255),rgb(224, 224, 224));

}


header{
    border-top: 5px solid rgb(0, 0, 0);
}

.card {
    margin: 15px 0px;
    border-radius: 20px;

}

.foto{
    padding: 5px;
    border-radius: 50%;
}
.btn-outline-light btn active {
    background: rgb(211, 101, 101);
}
article.datos{
    text-align: center;
}


/*Boton 1     */
.btn{
    background-color: black;
    border: none;
    border-radius: 40px;
    color: azure;
    padding: 10px 40px;
    font-size: 1.2em;
    cursor: pointer;
    margin: 5px;
}

.ocultar{
    display: none;
}
.mostrar{
    display: block;
}

/***NAVEGADOR********************************************/

.container{
    width: 800px;
     max-width: 90%;
     margin: 30px auto;
 }
 
 ul.tabs{
     width: 100%;
     background: rgb(37, 37, 37);
     list-style: none;
     display: flex;
 }
 ul.tabs li{
     width: 20%;
 }
 ul.tabs li a{
   color: white;
   text-decoration: none;  
   font-size: 16px;
   text-align: center;
   display: block;
   padding: 20px 0px;
 }
 .text{
     margin-left: 8px;
     font-size: 18px;

 }
 
 .seccion{
     width:100% ;
     background: white;
 }
 article{
     padding: 30px;
 }
 
 @media screen and (max-width: 949px){
     ul.tabs li{
         width: none;
         flex-basis: 0;
         flex-grow: 1;
     }
     
 }
 @media  screen and (max-width:582px){
   .text{
         display: none;
     }
     article{
         padding: 20px;
     }
 }
 
/**imagen de las card********/
img.image{
    text-align: center;
}





/*formulario */
.formulario{
    width: 500px;
    max-width: 100%;
    /*margin: auto;*/
    margin-top: 30px;
    padding: 20px;

    background:linear-gradient(rgb(159, 181, 192),rgb(131, 149, 173));
    position: relative;
    
    
    
    
   
    --form-ok-color:green;
    --form-error-color:red;
    margin-left:auto ;
    margin-right: auto;
   /* width: 80%;*/
}

legend{
    text-align: center;
}
.form_input{
    padding:0.5em ;
    margin: 1em auto;
    display: block;
    width: 100%;
    
}

.form_input, .form_submit{
    padding:0.5em ;
    margin: 1em auto;
    display: block;
   
}

.form_input{
    background: rgb(248, 248, 248);
    border: 1px solid rgb(219, 219, 219);
    width: 100%;
}

.form_input:focus{
    outline: 1px solid rgb(207, 207, 207);
}

.form_submit{
    background: black;
    padding:0.5em ;
    margin: 1em auto;
    display: block;
    width: 50%;
    color: white;
    cursor: pointer;

}

.formulario textarea{
    resize: none;
    width: 100%;
    background: rgb(248, 248, 248) ;
    border: 1px solid rgb(219, 212, 212);
    outline: 1px solid rgb(207,207,207);

}

.form_respuesta  {
    padding:0.5em ;
    margin: 1em auto;
    display: block;
    width: 100%;
    text-align: center;

}

.formulario *::placeholder{
    color: #535353;
}

.formulario [required] :valid{
    border: thin solid var(--form-ok-color);
}
.formulario [required] :invalid{
    border: thin solid var(--form-error-color);
}


.none{
display: none;
}

